body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00561b;
    position: sticky;
    top: 0;
    width: 98%;
}

li:not(#droite){
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #263e1a;
    border-radius: 15px;

}

.active {
    background-color: #3a963b;
    border-radius: 15px;
}

#droite{
    float:right;
}

/* categories a gauche */

.categories {
    float: left;
    width: 12vh;
    min-width: 8em;
    height: 100vh;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 1%;
    margin-top: 7vh;
    font-size: 0.7em;
    overflow: scroll; /*contre le debordement de la boite associer*/
}

.categories h2 {
    font-size: 1.5em;
}


/* billet et commentaire a droite */

.comments {
    position: static;
    margin-left:14.5vh;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5vh;
    margin-right: 0.8vh;
    padding: 1%;
    font-size: 1.2em;
    overflow: scroll; /*contre le debordement de la boite associer*/
}

.menu {
    border-radius: 15px;
    box-sizing: border-box;
    margin: 0px auto;
    padding:1% ;
    right:10px ;
    top:5%;
}

.buttonCategorie{ /* Visible uniquement en mode portrait */
    visibility: hidden;
}

/*test flex box 5 billet */

.info-section {
    font-size: 40px;
    font-family: Arial;
}

.btn-flex {
    width: 30vh;
    height: 20vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 6em;
    border-radius: 10px;
    overflow: hidden; /* empeche le debordement */
    white-space: nowrap; /* empeche les retour a la ligne et la deformation du bouton */


}

.txt-btn {
    height: 100%;
    display: flex;
    min-width: 150px;
    font-size: 222%;
    text-overflow: ellipsis; /* met "..." en cas de debordement */
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #616161 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #616161;
    border-radius: 7px;
    border: 4px solid #ffffff;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
}