body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00561b;
    position: sticky;
    top: 0;
    width: 100%;

}

li:not(#droite){
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #263e1a;
}

.active {
    background-color: #3a963b;
}

#droite{
    float:right;
}

/* categories a gauche */

.categories {
    float: left;
    width: 12vh;
    height: 100vh;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 0.5%;
    font-size: 0.7em;
    overflow: scroll; /*contre le debordement de la boite associer*/
}

.categories h2 {
    font-size: 1.5em;
}


/* billet et commentaire a droite */

.comments {
    position: static;
    margin-left:14.5vh;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 0.3vh;
    margin-right: 0.3vh;
    padding: 0.7%;
    font-size: 1.2em;
    overflow: scroll; /*contre le debordement de la boite associer*/
}
.menu {
    font-size: 1.8vh;
}
.boutonBillet{
    background-color: #cccccc;
    display: block;
    border: 1px solid black;
    width: 100%;
    padding: 1vh;
    overflow: hidden; /* empeche le debordement */
    white-space: nowrap; /* empeche les retour a la ligne etla deformation du bouton */
    text-overflow: ellipsis; /* met "..." en cas de debordement */

}
/* quand la sourie survol le bouton */
.boutonBillet:hover{
    background-color: darkgrey;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
}
