html {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin:0;
    background-image: linear-gradient(rgba(179, 179, 189, 0.5), rgba(0, 0, 0, 0.8)),url(https://assetsio.reedpopcdn.com/dnd-map-maker-inkarnate.png?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}


/* Enleve la flèche dans le menu déroulement de categories a cause de la library qui la rajoute*/
.menu .dropdown .fa-caret-down {
    display: none; /* Masque la flèche par défaut */
}

.menu {
    list-style-type: none;
    margin: auto;
    margin-top: 1%;
    padding:2% ;
    overflow: hidden;
    background-color: #174370;
    width: 98%;
    border-radius: 15px;
    box-sizing: border-box;
    top: 0;

}

.menu a{
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}


li {
    float: left;

}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #117883;
    border-radius: 15px;
}

.active {
    background-color: #117883;
    border-radius: 15px;
}

li.dropdown {
    display: inline-block;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #174370;
    z-index: 1;
    backdrop-filter: none;
}

.dropdown-content a {
    float: none;
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #117882;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.buttonCategory{
    background-color: #e5b596;
    border-color: #bd522b;
    border-style: solid;
    border-radius: 6px;
}
/* categories a gauche */

.category {
    display: none;
    float: left;
    width: 12vh;
    height: 100vh;
    background-color: #e5b596;
    border: 1px solid #bd522b;
    padding: 0.5%;
    font-size: 0.7em;
    overflow: scroll; /*contre le debordement de la boite associer*/
}

.category h2 {
    font-size: 1.5em;
}


/* billet et commentaire a droite */

.comments {
    position: static;
    margin-left:0.3vh;
    background-color: #e5b596;
    border: 1px solid #bd522b;
    border-radius: 8px;
    margin-top: 0.3vh;
    margin-right: 0.3vh;
    padding: 0.7%;
    font-size: 1.2em;
    overflow: scroll; /*contre le debordement de la boite associer*/
}
.menu {
    font-size: 1.8vh;
}
.boutonBillet{
    background-color: #e4b495;
    display: block;
    border: 1px solid #bc522b;
    width: 100%;
    padding: 1vh;
    overflow: hidden; /* empeche le debordement */
    white-space: nowrap; /* empeche les retour a la ligne etla deformation du bouton */
    text-overflow: ellipsis; /* met "..." en cas de debordement */

}

.info-section {
    font-size: 40px;
    font-family: Arial;
}



.btn-flex {
    width: 80%;
    height: 10vh;
    padding: 1vh;
    margin: 0 auto;
    margin-top: 1em;
    margin-left: 1.5%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #117883;
    color:#ffffff ;
    overflow: hidden; /* empeche le debordement */
    white-space: nowrap; /* empeche les retour a la ligne et la deformation du bouton */
}

.txt-btn {
    height: 100%;
    display: flex;
    min-width: 150px;
    font-size: 222%;
    text-overflow: ellipsis; /* met "..." en cas de debordement */
}

/* La barre de recherche */

.search {
    display: inline-flex;
    align-items: center;
    color: #fff; /* Couleur du texte */
    padding: 10px;
    border-radius: 4px; /* Coins arrondis */
    border: 1px solid #fff; /* Bordure blanche de 1 pixel */
}


/* Style des éléments input et button à l'intérieur de search */
.search input, .search button {
    background: transparent; /* Fond transparent */
    color: inherit;
    border: none; /* Pas de bordure */
    outline: none; /* Pas de contour */
}

/* Style de l'input de recherche */
.searchinput {
    width: 0;
    transition: width 0.5s; /* Transition de la largeur */
}

/* Style du bouton de recherche */
.searchbutton {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer; /* Curseur pointeur */
    transition: color 0.15s; /* Transition de la couleur */
}

/* Style au survol du bouton de recherche */
.searchbutton:hover {
    color: #e3e3e3; /* Changement de couleur au survol */
}

/* Style du label et de l'input */
.search label, .search input {
    display: inline-block;
}

/* Style de l'input de recherche lorsqu'il a le focus */
.search input:focus {
    width: 200px;
}
::placeholder  {
    font:inherit;
    color: #ffffff;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #616161 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #616161;
    border-radius: 7px;
    border: 4px solid #ffffff;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #bcb7b6;
    color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.checkButton{
    border-radius: 5px;
    border-color: #263e1a;
    background-color: lightgreen;
}
.checkButton:hover{
    background-color: #59ab59;
}

.delAccoutButton{
    border-radius: 15px;
    background-color: #b42828;
    border-color: darkred;
}
.delAccoutButton:hover{
    border-radius: 5px;
    background-color: #e32e2e;
    border-color: #bb0000;
}
.changer_mdp{
    background-color: darkseagreen;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 3vh;
    margin: 1em;
}


/* Login */
.formBox {
    max-width: 40%;
    margin: 0 auto;
    margin-top: 6%;
    padding: 3%;
    background-color: #ffffff;
    border-radius: 8px;

}
#login{
    text-align: center;
}
/*design du formbox*/
.formBox input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    font-size: 16px;
}

/*Couleur de signin/up */
.formBox input[type="submit"] {
    background-color: #174370;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

/*Des que l on passe la souris dessus l input signup/in sa change de couleur */
.formBox input[type="submit"]:hover {
    background-color: #117883;
}

.image404{
    max-width: 50%;
    max-height: 50%;
}
.section404{
    border-radius: 10px;
    margin-left: 10%;
    width: 80%;
    border-color: #B5532BFF;
    background-color: #edd6a0;
    margin-top: 5em;
    text-align: center;
}

.btnBillet{
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: #E5B596FF;
    border-color: #B5532BFF;
}
.btnCreator{
    z-index: auto;
    padding: 1em;
    margin-left: 95%;
    position: fixed;
    border-radius: 5px;
    background-color: #edd6a0;
    border-color: #B5532BFF;
}

/* tableau recherche*/
table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;

}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;


}
th {
    background-color: #174370;
    vertical-align:baseline;
    color: #ffffff;
}

td{
    background-color: #edd6a0;
}

/* utilisateur*/

.util {
    max-width: 500px;
    margin: 0 auto ;
    margin-top: 8%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#connectedform {
    display: flex;
    flex-wrap: wrap;
}

#connectedform button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #174370;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#connectedform button:hover {
    background-color: #117883;
}

/*Page about*/
.about{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 8%;
    padding-top: 10px ;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    line-height: 1.6; /* S'il n'y a pas d'unité, cela représente un facteur multiplicateurde la taille de la police appliquée à l'élément */
}